body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(to right, rgb(17, 54, 71), rgb(116, 26, 26), rgb(17, 54, 71));
    
}


.login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}
.card{
    background-color:linear-gradient(to right, rgb(220, 20, 47), rgb(17, 54, 71));
    padding: 20px;
    border-radius: 1px;
    width: 250px;
}
.card header{
    padding-bottom: 50px;
 
}

.card header ::after{
    content: "";
    width: 70px;
    height: 1px;
    display: block;
    margin-top: 20px;
    margin-bottom: 15px;
}

.card-content label{
font-size: 20px;
cursor: pointer;
}

.card-content-area{
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    
    
}
.card-content input{
    margin-top: 10px;
    font-size: 1rem;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;

}
   

.card-footer{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.card-footer .recuperar-senha{
    border: none;
    outline: none;
    color: white;
    text-decoration: none;

}

.card-footer a{
    text-decoration: none;
}