


<section>
    <form action="/register" method="POST" enctype="multipart/form-data">
        <div class="field">
            <label for="nome">Nome e Sobrenome</label>
            <input type="text" id="nome" name="nome" placeholder="Seu nome aqui" required>
        </div>

        <div class="field">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="exemplo@mail.com" required>
        </div>

        <div class="field">
            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" required>
        </div>

        <button class="submit" type="submit">Cadastrar</button>
    </form>
</section>